<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- vue cdn-->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script> -->
    <!-- 개발버전, 도움되는 콘솔 경고를 포함. -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script>
        // v-if
        // HTML 태그 랜더링을 할 때 조건을 주고자 할 때 사용한다.
        // v-if : 주어진 조건이 참을 경우 랜더링한다. 
        // ㄴ> 조건에 만족하면 html을 웹브라우저가 읽을 수 있도록 출력을 해라
        // v-else : v-if 조건이 거짓을 경우 랜더링한다.
        // v-else-if : v-if 조건이 거짓을 경우 다른 조건을 줄 수 있다.


        // v-show
        // v-if는 조건이 거짓일 때 랜더링을 하지 않는 반면 
        // v-show는 일단 랜더링을 하고 css의 display 속성을 제어한다.
        // # v-show는 template을 지원하지 않는다.

        // v-if vs v-show
        // v-if는 v-show에 비해 랜더링 위한 작업을 많이 해야한다. (첫 화면을 랜더링할 때)
        // v-show는 화면이 나타난 이후 자주 토글될 경우 사용한다. (웹 메뉴 같은게 반복될 경우에 v-show를 많이 사용한다. )
        // v-if는 화면을 만들 때 랜더링 제어를 할 경우 사용한다.

        // 학습정리
        // v-if와 v-show를 사용하면 조건부 랜더링이 가능하다.


        window.onload = function () {
            var vml = new Vue({
                el : '#test1',
                data : {
                    a1 : 100,
                    a2 : 100,
                    a3 : 100,
                    a4 : 100,
                    a5 : 100,
                    a6 : 100,
                    a7 : 100,   // v-show
                    a8 : 100,
                    a9 : 100
                },
                methods : {
                    setA1 : function() {
                        if (this.a1 == 100) {
                            this.a1 = 200
                        } else {
                            this.a1 = 100
                        }
                    },
                    setA2 : function() {
                        if (this.a2 == 100) {
                            this.a2 = 200
                        } else {
                            this.a2 = 100
                        }
                    },
                    setA3 : function() {
                        if (this.a3 == 100) {
                            this.a3 = 200
                        } else {
                            this.a3 = 100
                        }
                    },
                    setA4 : function() {
                        if (this.a4 == 100) {
                            this.a4 = 200
                        } else {
                            this.a4 = 100
                        }
                    },
                    setA5 : function() {
                        if (this.a5 == 100) {
                            this.a5 = 200
                        } else if (this.a5 == 200) {
                            this.a5 = 300
                        } else {
                            this.a5 = 100
                        }
                    },
                    setA6 : function() {
                        if (this.a6 == 100) {
                            this.a6 = 200
                        } else {
                            this.a6 = 100
                        }
                    },
                    setA7 : function() {
                        if (this.a7 == 100) {
                            this.a7 = 200
                        } else {
                            this.a7 = 100
                        }
                    }
                    
                } // end methods
            }) // end Vue
        }

    </script>
</head>
<body>
    <div id="test1">
        <h3 v-if='a1 == 100'>a1은 {{a1}} 입니다</h3>
        <!-- 처음에 출력되지 않음-->
        <h3 v-if='a1 == 200'>a1은 {{a1}} 입니당 </h3>
        <!-- v-if 조건에 부합하지 않은 el을 주석처리 시킴 -->
        <button type="button" @click="setA1">a1 setting</button>
        <hr>

        <!-- if else 쌍 -->
        <h3 v-if='a2 == 100'> a2는 100입니다. </h3>
        <h3 v-else>a2는 100이 아닙니다.</h3>
        <button type="button" @click="setA2">a2 세팅</button>
        <hr>

        <!-- v-if 가 있는 div 태그로 랜더링하려면
            div 태그를 사용하지만 -->
        <div v-if="a3 == 100">
            <h3>a3는 100</h3>
            <h3>a3는 100</h3>
            <h3>a3는 100</h3>
        </div>
        <div v-else>
            <h3>a3 is not 100</h3>
            <h3>a3 is not 100</h3>
            <h3>a3 is not 100</h3>
        </div>
        <button type="button" @click="setA3">a3 set</button>
        <hr>
        <!-- v-if 가 있는 태그 자체는 랜더링 하지 않으려면
        template 태그를 사용한다. -->
        <template v-if="a4 == 100">
            <h3>a4 is 100</h3>
            <h3>a4 is 100</h3>
            <h3>a4 is 100</h3>
        </template>
        <template v-else>
            <h3>a4 is not 100</h3>
            <h3>a4 is not 100</h3>
            <h3>a4 is not 100</h3>
        </template>
        <button type="button" @click="setA4">a4 set</button>
        <hr>
        
        <template v-if="a5 == 100">
            <h3>a4 is 100</h3>
        </template>
        <template v-else-if="a5 == 200">
            <h3>a4 is 200</h3>
        </template>
        <template v-else-if="a5 == 300">
            <h3>a4 is 300</h3>
        </template>
        <button type="button" @click="setA5">a5 set</button>
        <hr>

        <template v-if=" a6 == 100">
            <h3>data1</h3>
            <input type="text"> <!-- 동일한 코드에 대해선 랜더링 하지 않음-->
            <input type="text" key="data1"> <!-- key 값이 있으면 랜더링 한다. -->
        </template>
        <template v-else>
            <h3>data2</h3>
            <input type="text"> <!-- 동일한 코드에 대해선 랜더링 하지 않음-->
            <input type="text" key="data2"> <!-- key 값이 있으면 랜더링 한다. -->
        </template>
        <button type="button" @click="setA6">a6 set</button>
        <hr>

        <!-- v-show는 다 보여준 후 css style의 display 속성을 none 으로 처리 함 -->
        <!-- v-show는 template 태그를 지원하지 않는다. 
            else 에 대비하지 못한다. 
            
            그렇지만 다 보여주고 css 처리만 하는 것으로 더 적은 자원을 소모한다고 함 (강사 曰)
        -->
        <h3 v-show="a7 == 100">a7 is 100</h3>
        <h3 v-show="a7 != 100">a7 is not 100</h3>
        <button type="button" @click="setA7">a7 set</button>
    </div>
</body>
</html>